/* --------------------------------------------------------------

    boxes description

-------------------------------------------------------------- */

.confirmation-box, .error-box, .success-box, .information-box, .warning-box {
    margin: 0 5em 1em;
    padding: 0.5em;
    border: 1px solid #000;
    text-align: center;
    clear: both;
}
.confirmation-box p, .error-box p, .success-box p, .warning-box p { margin: 0 0 .5em; font-size: 1.3em; }
.confirmation-box h2,  .error-box h2, .success-box h2, .warning-box h2 { margin-bottom: .5em; color: #000; }

.confirmation-box,
.error-box         { border-color: #ff5555; background: #ffeeee; }
.success-box       { border-color: #20CC20; background: #ECFDEC; }
.information-box   { border-color: #ffaa00; background: #ffffcc; text-align: left; }
.warning-box  	   { border-color: #8043FA; background: #EBE3FA; }


/* main box (to be used in '#bd > .yui-main > yui-b' block )
-------------------------------------------------------------- */
.mainbox { margin: 10px 0 0 0; padding: 0 0 10px 0; }

.mainbox ul { margin : 0 20px; }
.mainbox p { margin-bottom :.5em; }

.mainbox-yellow,
.mainbox-orange
.mainbox-blue      { border-top: 1px solid; border-bottom: 1px solid; }

/* mainbox yellow */
.mainbox-yellow    { border-color: #FFD053; background: #FFFFAB; }
.mainbox-yellow h2,
.mainbox-yellow h3 { border-color: #FFD053 !important; }
.mainbox-yellow hr { border: 0; border-top: 1px dashed #FFD053; }

/* mainbox yellow */
.mainbox-blue      { border-color: #C1CFE2; background: #F3F8FF; }
.mainbox-blue h2,
.mainbox-blue h3   { border-color: #C1CFE2 !important; }

/* mainbox orange */
.mainbox-orange    { border-color: #ec7000; background: #ff9999; }
.mainbox-orange h2,
.mainbox-orange h3 { border-color: #ec7000 !important; }
.mainbox-orange hr { border: 0; border-top: 1px dashed #ec7000; }

.mainbox p.message { margin-left : 1em; }
