/* --------------------------------------------------------
 *
 *        LibreDémat
 *
 *        bleu: #59C3DE
 *        rouge: #F75B5C
 *        bleu foncé: #26444C
 *        bleu noir: #11262B
 *        gris foncé: #66858A
 *
 * ----------------------------------------------------- */

/* Uncomment these lines to invert the logo and the login bar. */
#hd:before {
  content: url(../../localAuthorityResource/resource/logoFo)
}
#hd ~ h1 {
  display: none;
}


/* global layout
 * ----------------------------------------------------- */

html { background: #fff; }
#bd  { background-color: #153238; }


/* menus
 * ----------------------------------------------------- */

#menu a, #menu a span                 { background-color: #4EC9EA; }
#menu a:hover, #menu a:hover span     { color: #fff; background-color: #153238; }
#menu a.current, #menu a.current span { color: #fff; background-color: #153238; }
#menu a.disable ,#menu a.disable span { background-color: #153238 !important; }

#hd .top a.menu       { color: #fff; background-color: #4EC9EA; }
#hd .top a.menu:hover { color: #444; background-color: #153238; }
#hd .top form input[type=text],
#hd .top form input[type=password] { border: 1px solid #4EC9EA !important; }


/* boxes
 * ----------------------------------------------------- */

.box h2, .box h3 { color: #4EC9EA !important; }

.list-box               { border-color: #4EC9EA; }
.list-box h2            { color: #4EC9EA; border-color: #4EC9EA; }
.list-box h3            { color: #4EC9EA; }
.list-box p.paginator a,
.list-box p.see-all a { color: #4EC9EA; }
.list-box p.see-all a:hover,
.list-box p.paginator a:hover,
.list-box p.paginator span.currentStep { color: #ffffff; background: #4EC9EA; }

.list-box.creation a:hover { background: #4EC9EA !important; }
.list-box.creation img { background: #4EC9EA !important; }

.group-box h3      { background-color: #4EC9EA; color: #fff !important; }
.group-box a:hover { background: #4EC9EA; }

.summary-box.created { border-color: #4EC9EA; }
.summary-box h2      { color: #4EC9EA; border-color: #4EC9EA; }
.summary-box h3      { border-bottom-color: #4EC9EA !important; }
.summary-box dl      { border-bottom-color: #4EC9EA !important; }
.summary-box dl dt,
.summary-box dl dd   { border-top-color: #4EC9EA !important; }

.main-box         { border-color: #4EC9EA; }
.main-box h2      { color: #4EC9EA; border-color: #4EC9EA; }
.main-box a:hover { color: #ffffff !important; background: #4EC9EA !important; }

.narrow-box h3           { color: #fff; background: #4EC9EA; }
.narrow-box .body        { background: #FFFFFF; }
.narrow-box .body select { border-top-color: #4EC9EA; }

.summary-box.created { border-color: #E74440; }
.summary-box h2      { color: #E74440; border-color: #E74440; }
.summary-box h3      { border-bottom-color:  #E74440 !important; }
.summary-box dl      { border-bottom-color: #E74440 !important; }
.summary-box dl dt,
.summary-box dl dd   { border-top-color: #E74440 !important; }

/* forms
 * ----------------------------------------------------- */

form input[type="text"],
form input[type="password"],
form select,
form textarea { border-top-color: #4EC9EA !important; }


/* family account
/* ----------------------------------------------------- */

.individual form .address { border-color: #4EC9EA !important; }


/* request creation
 * ----------------------------------------------------- */

#request div.help h3 { border-bottom-color: #4EC9EA !important; }

#request h3       { border-bottom-color:  #4EC9EA !important; }
#request legend   { color: #4EC9EA !important; }
#request .address { border-color: #4EC9EA !important; }

#request form ul.dataTree,
#request form fieldset,
#request form div .captcha img { border-color: #4EC9EA !important; }

#request form div input[type="text"],
#request form div input[type="password"],
#request form div select,
#request form div textarea { border-top-color: #4EC9EA !important; }


/* document and activities
 * ----------------------------------------------------- */

#docs h4 { color: #4EC9EA !important; }

.data-detail .yui-g { border-color: #4EC9EA !important; }
.data-detail dl     { border-color: #4EC9EA !important; }
.data-detail dd,
.data-detail dt     { border-color: #4EC9EA !important; }

table.activity-calendar,
table.activity-calendar th,
table.activity-calendar td { border-color: #4EC9EA !important; }
