LibreDemat-config.properties
grails-app/conf/LibreDemat-config.properties
grails-app/conf/spring/applicationContext.xml
grails-app/conf/spring/applicationContext-admin.xml
grails-app/conf/spring/applicationContext-deployment.xml
lib/
stacktrace.log
libredemat.log
plugins/*.zip
plugins/tomcat-1.2.0/
plugins/rest-0.3/
plugins/jcaptcha-1.0/
plugins/google-chart-0.5.1/
plugins/extended-data-binding-0.2/
plugins/libredemat-overridable-messages-1.2.0-1/
plugins/libredemat-casclient-0.1/
plugins/libredemat-casclient-0.3/
web-app/cas.gsp
web-app/casLogout.gsp
web-app/WEB-INF/plugins/google-chart-0.5.1/grails-app/views/index.gsp

