.prices-information {
    font-weight: bold;
    font-size: 1.2em;
}

#scaffoldingFixedInformation, #scaffoldingLengthInformation, #scaffoldingDurationInformation,
    #scaffoldingTotalPrice {
    color: red;
}

#occupationFixedInformation, #occupationSurfaceInformation, #occupationDurationInformation,
#occupationTotalPrice {
    color: red;
}
