#scaffoldingPrice {
    font-weight: bold;
    font-size: 1.2em;
}

#scaffoldingFixedInformation, #scaffoldingLengthInformation, #scaffoldingDurationInformation,
    #scaffoldingTotalPrice {
    color: red;
}

