
.validation-failed {border:1px dashed #FF3333; background-color:#FFCCCC; }

.list-box h3   { margin: .1em .5em; font-size: 1.7em; font-weight: normal; }
.list-box ul li h3     { font-size: 1.2em; color: #333; }
.list-box ul li p      { font-style: italic; color: #666; }
.list-box ul li form   { margin-top: .25em; text-align: right; }
.list-box ul li form input[type=text] { border: 1px solid #bbb !important; }
.list-box ul li .error { color: red; }

.narrow-box .body h4       { font-size: 1.1em; font-weight: bold; }
.narrow-box .body h4.total { font-size: 1.5em; font-weight: bold; text-align:right; }
.narrow-box .body ul     { margin-bottom: .75em; }
.narrow-box .body ul li  { padding: .3em 0; font-style: italic; color: #333; }
.narrow-box .body form   { margin-top: .25em; text-align: right; }
.narrow-box .body form a { display: inline; }

#showBill {background-color: #fff;padding: 15px;border: 1px solid #000;}
#showBill .hd{font-weight: bold;font-size: 1.2em; font-style: italic; border-bottom: 1px solid #B9121B; padding-bottom: 5px; }
#showBill .ft{ text-align: right;margin-top: 15px;}

p.linkPdf{width:100%; text-align: left;}
a.icone {padding-left: 95%; margin-bottom: 15px; }
p.icone {padding-left: 95%; margin-bottom: 15px; cursor: pointer;}
/*.embedpdf { margin-top:20px; width: 100%; height: 350px; }*/
.embedpdf { width: 100%; height: 550px; }

.yui-resize .yui-resize-handle-br {
  background-image: url( yui/resize/layout_sprite.png ); 
  background-repeat: no-repeat; 
  background-position: -22px -62px; 
}

