* {
      box-sizing: border-box;
  moz-box-sizing: border-box;
}
 
#bd {
  padding: 5px 1px 1px 1px;
}
 
iframe {
  background: white;
  width: 100%;
}

.information-box-booker {
  margin: 0.7em 1.3em 1em;
}
